* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
.clear:before,.clear:after {content: ' ';display: table;}
.clear:after { clear: both; }
.clear { *zoom: 1; }

@font-face {
    font-family: 'thrasherregular';
    src: url('../font/thrasher_personal_use-webfont.woff2') format('woff2'),
    url('../font/thrasher_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.wrap {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: red;
    color: #000;
    font: 400 14px/1.3 'Source Code Pro', monospace;
    overflow-x: hidden;
}
h1 {
    font-family: 'thrasherregular';
}

#bloc1 {
    background-color: yellow;
    font-family: 'Festive', cursive;
}
#bloc1 .wrap {
    display: flex;
    flex-flow: row nowrap;
}
#bloc1 .minibloc {
    height: 100px;
    width: 33.333333333333333%;
}
#bloc1 .minibloc1 {background-color: darkkhaki;}
#bloc1 .minibloc2 {background-color: royalblue;}
#bloc1 .minibloc3 {
    background-color: mediumorchid;
    position: relative;
}
#bloc1 .minibloc3 img {
    width: 30px;height:30px;
    border-radius:50%;
    position: absolute;
    bottom:-15px;right:-15px;
    z-index: 1;
}

#bloc2  {
    background-color: salmon;
}
#bloc2 .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#bloc2 .minicontent {
    height:50px;
    width: 23%;
    margin-bottom: 1rem;
}
#bloc2 .minicontent1 {background-color: coral;}
#bloc2 .minicontent2 {background-color: darkorchid;}
#bloc2 .minicontent3 {background-color: firebrick;}
#bloc2 .minicontent4 {background-color: lavender;}
#bloc2 .minicontent5 {background-color: gainsboro;}
#bloc2 .minicontent6 {background-color: olivedrab;}
#bloc2 .minicontent7 {background-color: greenyellow;position: relative;}
#bloc2 .minicontent8 {background-color: orangered;}

#bloc2 .boxabso {
    height:30px;width:30px;
    border-radius: 50%;
    background-color: black;
    position: absolute; top:-15px;left:-15px;
}



/* RESPONSIVE */
@media screen and (max-width: 800px) {
    #bloc2 .minicontent {
        width: 31.33333333%;
    }

}


@media screen and (max-width: 600px) {
    #bloc1 .wrap {
        flex-flow: row wrap;
    }
    #bloc1 .minibloc {
        width: 100%;
    }
    #bloc2 .minicontent {
        width: 48%;
    }
}

@media screen and (max-width: 450px) {
    #bloc2 .minicontent {
        width: 100%;
    }
}
