:root {
    --vert: #4f805d;
    --vertclair: #8bb092;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #ddd;
    font-family: 'Quicksand', sans-serif;
}
ul {
    list-style: none;
}
a {
    color:#fff;
    text-decoration:none;
}
strong {
    font-size: 1.6rem;
    font-family: 'Libre Baskerville', serif;
}
.shadow {
    -webkit-box-shadow: 0 10px 6px -6px var(--vertclair);
    -moz-box-shadow: 0 10px 6px -6px var(--vertclair);
    box-shadow: 0 10px 6px -6px var(--vertclair);
}
.wrap {
    max-width: 1200px;width:100%;margin: 0 auto;
}
.wrap2 {
    max-width: 1300px;width:100%;margin: 0 auto;
}
.wrap3{
    max-width: 500px;width:100%;margin: 0 auto;
}

#container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.separator {
    width:100px;
    height:3px;
    background-color: var(--vert);
    margin: 1rem auto;
}

/* Header */
#header {
    background-color: var(--vert);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem;
}
#header .logo {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.9rem;
}
#header .logo:hover {
    opacity: .8;
}
#header nav ul {
    display: flex;
    flex-flow: row nowrap;
    gap:.6rem;
}
#header nav ul li a:hover {
    color:#000;
}

/* INTRO */
#intro {
    height:100vh;
    background: url("https://picsum.photos/id/38/1200/500") no-repeat center center/cover;
    display: flex;
}
#intro > div {
    max-width: 600px;
    text-align: center;
    padding: 1rem;
    margin: auto;
    font-size: 1.4rem;
}

/* component */
#component {margin: 6rem 0;}
#component h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
#component ul.boxs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#component ul.boxs img {
    width:100%;
}
#component ul.boxs li {
    width: 31%;
    background-color: #fff;
}
#component ul.boxs li .bloc_text {
    padding: 1rem;
    text-align: justify;
}
#component .title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}

/* learn */
#learn {
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
}
#learn .learn_img{
    width:50%;
}
#learn .learn_img img {
    width:100%;
    vertical-align: bottom;
}
#learn .learn_logo{
    width:50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    padding: 1rem;
}

#learn .learn_logo img {
    width: 35%;
    display:block;
    margin: 1rem auto;
}

#partenaire {
    margin: 3rem 0;
}
#partenaire img {
    width:100%;
    margin-bottom: .6rem;
}

#partenaire .wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}
#partenaire .shadow {
    width: 23%;
    background-color: #fff;
}
#partenaire i {
    font-size: 3rem;
    color: var(--vert);
    margin: 1rem 0;
}

/*#testimonial */
#testimonial {
    margin: 2rem 0;
}
#testimonial h2 {
    margin-bottom: 1rem;
}
#testimonial .testi_box {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 1rem;
}
#testimonial .testi_box .testi__text {
    width:80%;
}
#testimonial .testi_box .testi__text i {
    font-size: 1.8rem;
}
#testimonial .testi_box .testi__user {
    width:20%;
}
#testimonial .testi__user img {
    border-radius: 50%;
}
#testimonial .testi__user .text_job {
    font-weight: bold;
}

#testimonial .testi_box:nth-child(2n+1) .testi__text {
    order:2;
}
/* contact */
#contact {
    padding: 5rem 1rem;
    text-align: center;
}
#contact h2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
}
#contact input, #contact textarea{
    width:100%;
    padding: 1rem;
    background-color: #fff;
    border:none;
    border-radius: 10px;
    margin-bottom: 1.3rem;
}
#contact textarea {
    resize: none;
    min-height: 100px;
}
#contact input[type=submit] {
    cursor: pointer;
    transition: all .5s;
}
#contact input[type=submit]:hover {
    background-color: var(--vertclair);
    color:#fff;
}
/* footer */
#footer {
    background-color: var(--vert);
    color: #fff;
    padding: 2rem 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#footer .menufooter {
    font-size: 1.3rem;
}
#footer .reseau ul {
    display: flex;
    flex-flow: row nowrap;
}
#footer .reseau ul li {
    margin-left: 1rem;
}
#footer .reseau ul i {
    font-size: 3rem;
}
#footer .reseau ul a:hover i {
    color:#000;
}

/* RESPONSIVE */
@media screen and (max-width: 980px) {

    #partenaire .wrap {
        flex-flow: row wrap;
    }
    #partenaire .shadow {
        width:48%;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 720px) {
    #partenaire .shadow {
        width:90%;
        margin-left: 5%;
    }
    #footer {
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
    }
    #footer > div {
        margin-bottom: 1rem;
    }
}