* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

.success {
    background-color: green;
}
.error {
    background-color: red;
}
.red {color:red;}