* {
    margin: 0;padding: 0;box-sizing: border-box;
}
body {
    background-color: #17c2a4;
    color:whitesmoke;
}
ul, ol {list-style: none;}
img {
    width: 100%;
}
a {text-decoration: none;}
.wrap {margin: 0 auto;max-width: 1000px;width: 100%;padding: 0 1rem;}
.wrapform {margin: 0 auto;max-width: 500px;width: 100%;padding: 0 1rem;}
label {display: block;}
input ,textarea, select {width:100%;margin-bottom: 1rem;}
input ,textarea {padding: 1rem;}
textarea {min-height: 150px;resize: vertical;}
header {
    padding: 1rem;
    background-color: #4f805d;
    margin-bottom: 1rem;
}
header ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap:2rem;
}
header ul li a {color:#fff;}

input[type=submit] {
    border: none;
    background-color: #3c5499;
    color:#fff;
    border-radius: 1rem;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #643a79;
}
.error {
    color:red;
}