* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
}

.wrap {max-width: 400px;width:100%;margin: 3rem auto;}
label {display: block;margin-top: 1rem;}
input, textarea, select {width: 100%;padding: .7rem;}
input[type=submit] {margin-top: 1rem;}
.error {color:red;}
.success {color:green;}